* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: #fff;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  #nav {
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 130px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
  }
  
  #nav h4:hover {
    color: #aee90e;
    -webkit-text-stroke: transparent;
  }
  
  #nav img {
    height: 75px;
  }
  
  #nav h4 {
    text-transform: uppercase;
    font-weight: 500;
  }
  
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  
  #main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
  }
  
  #page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }
  
  #page1 h1 {
    font-size: 110px;
    font-weight: 900;
    position: relative;
  }
  
  #page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
  }
  
  #page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  #page1 p {
    font-size: 20px;
    font-weight: 500;
    width: 40%;
  }
  
  #page1 #arrow {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2%;
    left: 2%;
    background-color: #30a733;
    /* font-size: 39px; */
    position: absolute;
    background-color: transparent;
    border: 2px solid #95c11e;
    transition: all ease 0.5s;
    /* background-color: rebeccapurple; */
  }
  
  #page1 #arrow i {
    font-size: 50px;
    font-weight: 300;
  }
  #page1 #arrow:hover {
    background-color: red;
    scale: 0.4;
  }
  
  #page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
  }
  
  body::-webkit-scrollbar {
    display: block;
    width: 10px;
    background-color: #95c11e;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
  
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
  }
  
  #cursor-blur {
    height: 350px;
    width: 350px;
    background-color: #96c11e34;
    border-radius: 50px 59px 32px 99px;
    filter: blur(40px);
    position: fixed;
    z-index: 9;
  }
  
  #scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    /* position: absolute; */
    z-index: 10;
  }
  
  #scroller::-webkit-scrollbar {
    display: none;
  }
  .scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .scroller-in:hover {
    color: #aee90e;
    /* position: absolute; */
    -webkit-text-stroke: transparent;
  }
  
  #scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    transition: all linear 0.5;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  
  #scroller h4:hover {
    color: #aee90e;
    /* position: absolute; */
    -webkit-text-stroke: transparent;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  #about-us {
    height: 40vh;
    width: 100%;
    /* background-color: #95c11e; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    margin-bottom: 12px;
  }
  
  #about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  #about-us-in {
    width: 40%;
    text-align: center;
    z-index: 1;
  }
  
  #about-us-in h3 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  #about-us-in p {
    font-size: 20px;
    line-height: 26px;
  }
  
  #cards-container {
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    position: relative;
    z-index: 10;
  }
  
  .cards {
    height: 80%;
    width: 22%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }
  
  #card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
  }
  #card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);
  }
  #card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 22px;
    padding-top: 110px;
    opacity: 0;
    transition: all ease 0.6s;
  }
  
  .overlay h4 {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
  }
  
  .overlay p {
    color: #000;
    font-size: 18px;
  }
  
  .cards:hover .overlay {
    opacity: 1;
  }
  
  .cards:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
  }
  
  #green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #30a733, #a7d921);
  
    /* background: linear-gradient(to left bottom, red, white); */
  }
  
  #green-div h4 {
    color: #000;
    font-weight: 800;
    width: 45%;
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
  }
  #green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
  }
  
  #page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  #page3 > p {
    font-size: 33px;
    font-weight: 700;
    width: 57%;
    line-height: 45px;
    text-align: center;
  }
  
  #page3 img {
    position: absolute;
    height: 60px;
  }
  
  #page3 #colon1 {
    left: 12%;
    top: 23%;
  }
  
  #page3 #colon2 {
    bottom: 23%;
    right: 12%;
  }
  
  #page4 {
    height: 35vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
  }
  .elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }
  
  .elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
    transition: all ease 0.5s;
  
    position: absolute;
    z-index: 10;
  }
  
  .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
  
    scale: 1.1;
  }
  
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
    /* transition: all ease 4s; */
  }
  .elem:hover img {
    scale: 1;
    /* transition: all ease 4s; */
  }
  
  #page4 h1 {
    font-size: 80px;
    position: absolute;
    top: -14%;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px #fff;
  }
  
  #footer {
    height: 40vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to left bottom, #30a733, #95c11e);
  }
  
  #footer img {
    height: 75px;
    /* position: absolute; */
    /* right: 33%; */
  }
  
  #footer #dot {
    height: 270px;
    position: absolute;
    right: 77%;
  }
  /* #footer h2 {
    color: #30a733;
  } */
  
  #footer #fab h2 {
    font-style: bold;
    color: #000;
    font-size: 30px;
    font-weight: 800;
    transition: all ease 0.4px;
  }
  /* #footer #fab h2:hover {
    color: #fff;
  } */
  
  #footer #fab1 h2 {
    font-style: bold;
    color: #000;
    font-size: 30px;
    font-weight: 800;
  }
  
  #footer #fab2 h2 {
    color: #000;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
    font-weight: 500;
  }
  
  #footer #fab2 #bold {
    color: #000;
    font-size: 25px;
    font-weight: 900;
  }
  
  #footer #fab2 span {
    font-weight: 700;
    color: #000;
  }
  #footer .flex {
    position: absolute;
    bottom: 10%;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  #footer .flex h6 {
    color: #000;
  }
  
  /* #footer .flex span .border1 {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
  } */
  